2021-2022/XML/Examen/musica.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG" type="TipoMusica"/>

    <xs:complexType name="TipoMusica">
        <xs:sequence>
            <xs:element type="TipoMusico" name="musico" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="tipoObra" name="obra" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="musica" type="TipoMusica"/>

</xs:schema>