XML/.idea/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Declaracion de tipos de elemento RAIZ -->
    <xs:element name="receta" type="tipoAviso"/>
    <!-- Declaracion de tipos de elementos complejos -->
    <xs:complexType name="tipoAviso">
        <xs:sequence>
            <xs:element name="titulo" type="xs:string"/>
            <xs:element name="parrafo" type="xs:string"/>
            <xs:element name="grafico" type="xs:string"/>


        </xs:sequence>
    </xs:complexType>

</xs:schema>