2022-2023/Alejandro/XML/Apuntes/ejemplo2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="listaventas">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ventapc" type="xsd:string" maxOccurs="unbounded"/>
                <xsd:element name="ventamonitor" type="xsd:string" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>