2022-2023/Alejandro/XML/Apuntes/ejemplo3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- elegimos sin poner limite entre uno u otro elemento-->
    <xsd:element name="listaventas">
        <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="ventapc" type="xsd:string"/>
                <xsd:element name="ventamonitor" type="xsd:string"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>