2022-2023/Alejandro/XML/Apuntes/examen/ejemplo5.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="codigo" type="tipoCodigoAtributo"/>

    <xsd:simpleType name="tipoCodRes">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}[0-9]{2}[A-Z]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="tipoCodigoAtributo">
        <xsd:simpleContent>
            <xsd:extension base="tipoCodRes">
                <xsd:attribute name="sede" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>