2021-2022/XML/.idea/Examen/plantas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CATALOG" type="TipoPlanta"/>

    <xs:complexType name="TipoPlanta">
        <xs:sequence>
            <xs:element name="PLANT" maxOccurs="unbounded" minOccurs="0" type="tipoPlanta"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoPlanta">
        <xs:sequence>
            <xs:element name="COMMON" type="xs:string" />
            <xs:element name="BOTANICAL" type="xs:string" />
            <xs:element name="ZONE" type="xs:string" />
            <xs:element name="LIGHT" type="xs:string" />
            <xs:element name="PRICE" type="xs:string" />
            <xs:element name="AVAILABILITY" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>