2022-2023/Anxito/XML/apuntes/ejercicioTRESb.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--Un raton o un teclado o un monitor-->
    <xsd:element name="productos">
        <xsd:complexType>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="raton" type="xsd:string"/>
                <xsd:element name="teclado" type="xsd:string"/>
                <xsd:element name="monitor" type="xsd:string"/>
            </xsd:choice>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>