2022-2023/Anxito/XML/apuntes/ejercicioNUEVE.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!--Elemento raiz< del codigo-->
    <xsd:element name="entrega" type="tEntrega"/>

    <xsd:complexType name="tEntrega">
        <xsd:sequence>
            <xsd:element name="lote" type="tLote" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="">
        <
    </xsd:complexType>

</xsd:schema>