2022-2023/Anxito/XML/apuntes/raroejemplo3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listaventas" type="listaventasType"/>
  <xs:complexType name="listaventasType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="ventapc"/>
      <xs:element name="ventamonitor">

      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>